*.o
.deps/
.dirstamp
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
autoscan.log
compile
config.log
config.status
configure
configure.scan
depcomp
facsimile/mcsak.spec
install-sh
mcsak
mcsak-*
missing
src/config.h
src/config.h.in
src/config.h.in~
src/stamp-h1
